@use '../../styles/func' as func;

.form {
  background-color: #fff;
  border-radius: 60px;
  padding: 100px 160px;
}

.stepsWrapper {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  margin-bottom: 30px;
}

.formHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E1E3E9;
  padding-bottom: 55px;
  gap: 30px;
}
.titles {
  display: flex;
  gap: 33px;
  flex-direction: column;
  max-width: 659px;
}
.titles p {
  color: #444444;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  transition: all ease 0.25s;

  cursor: pointer;
  padding: 28px 34px;
  border-radius: 20px;
  background-color: #A8D2F4;
  color: #1D2E5B;
  border: none;

  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
}

.btnPrev {
    background-color: transparent;

    &::before {
      content: '';
      position: absolute;
      left: func.rem(14);
      width: 0;
      height: 0;
      border-top: func.rem(6) solid transparent;
      border-bottom: func.rem(6) solid transparent;
      border-right: func.rem(8) solid var(--color-text-main);
    }
}
.btnPrev:hover {
  color: #5C688A;
}

.btnNext {
    min-width: func.rem(286);
    justify-content: space-between;

    &::after {
      content: '';
      display: inline-block;
      margin-left: func.rem(10);
      border-top: func.rem(6) solid transparent;
      border-bottom: func.rem(6) solid transparent;
      border-left: func.rem(8) solid var(--color-text-main);
    }
}
.btnNext:hover {
  background-color: #4D99D6;
}

.errorMessage {
  color: red;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  opacity: 0.5;
}

.stepsList {
  display: flex;
  gap: 27px;
  flex-direction: column;
}

.stepItem {
  color:  #666666;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.stepItem::marker {
  color: #BCC1CE;
}

.activeStep{
  color: #000000;
}
.activeStep::marker {
  color: #1D2E5B;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
}

.btnNextWrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}

.title {
  color: #1D2E5B;
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0%;
}
