@use '../../styles/func.scss' as func;

.wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: auto;

  padding: func.rem(30);
  width: func.rem(300);
  background: #CCE5FA;
  border-radius: func.rem(20);
}

.title {
  margin-bottom: func.rem(34);

  color: #1D2E5B;
  font-family: Roboto;
  font-weight: 700;
  font-size: func.rem(30);
  line-height: func.rem(30);
  letter-spacing: 0%;
}

.filters {
  margin-bottom: func.rem(38);

  display: flex;
  flex-direction: column;
  gap: func.rem(20);
}

.submit {
  width: 100%;
  padding: func.rem(18) func.rem(40);
  border-radius: func.rem(25);
  font-weight: bold;
  border: none;
  background: white;
  cursor: pointer;

  color: #161C35;
  font-family: Roboto;
  font-weight: 700;
  font-size: func.rem(20);
  line-height: func.rem(20);
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  transition: all ease 0.25s;

  &:hover {
    box-shadow: 0px 3px 6px 0px #00000024;
  }

  &:active {
    background: #4D99D6;
  }
}

.transport {

  & > div{
    min-width: 100% !important;
    min-height: 100% !important;
    padding: 0 !important;
    padding-top: 17px !important;

    & > button {
      background: none !important;
    }
  }

  & *{
    border: none !important;
  }
}
