.calendarWrapper {
  background: #ffffff;
  /* padding: 16px; */
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #E5E7EF;
  font-family: inherit;
}

/* Root контейнер */
.root {
  width: 100%;
  font-family: inherit;
}

.month {
  display: grid;
  grid-template-columns: auto 1fr auto; /* две кнопки + заголовок по центру */
  grid-template-rows: auto 1fr; /* первая строка для навигации, вторая — для таблицы */
  align-items: center;
  padding-top: 25px;
}

.month > :nth-child(4) {
  grid-column: 1 / -1; /* таблица растягивается на всю ширину */
}

.monthGrid {
  margin-top: 25px;
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #E1E3E9;
}

.monthCaption {
  color: #1D2E5B;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 15px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0%;

  text-transform: capitalize;
}

/* Weekdays header */
.weekdays {
  display: table-row;
  text-transform: capitalize;
}

.weekday {
  padding: 18px 17px;
  text-align: left;
  color: #444444;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
}

/* Week (row of days) */
.week {
  display: table-row;
}

/* Day cell */
.day {
  padding: 0;
  vertical-align: middle;
}

/* Day button */
.dayButton {
  position: relative;
  display: flex;
  width: 100%;
  height: 70px;
  text-align: left;
  border-radius: 0;
  border: 1px solid #E1E3E9;
  border-collapse: collapse;
  color: #444444;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #EDEFF6;
  padding: 13px 16px;

  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
}

/* Hover */
 .dayButton:not([disabled])::before {
  content: '';
  display: block;
  position: absolute; /* или relative в зависимости от нужного эффекта */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid transparent;
  box-sizing: border-box;
  pointer-events: none; /* чтобы псевдоэлемент не мешал кликам */
  transition: border 0.2s ease;
}

.dayButton:not([disabled]):hover::before {
  border: 4px solid #FF5C23 !important;
}

.dayButton:disabled {
  color: #C7C7C7;
  background-color: #FFFFFF;
  cursor:auto;
}

/* Outside days */
.outside {
}

/* Range middle */
.rangeMiddle button{
  background: #1D2E5B !important;
  color: #fff !important;
  border-radius: 0 !important;
}

/* Range start */
.rangeStart button{
  background: #1D2E5B !important;
  color: #fff !important;

  position: relative;
  z-index: 2;
}

.rangeStart button::after {
  content: "Заезд";
  position: absolute;
  top: 60%;
  left: 16px;
  color: #fff;
  white-space: nowrap;

  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
}

/* Range end */
.rangeEnd button{
  background: #1D2E5B !important;
  color: #fff !important;
  position: relative;
  z-index: 2;
}

.rangeEnd button::after {
  content: "Выезд";
  position: absolute;
  top: 60%;
  left: 16px;
  color: #fff;
  white-space: nowrap;

  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
}

/* Selected day (disable default circles) */
.selected {
  background: transparent !important;
  color: inherit !important;
}

/* Weekend colors */
.weekday:nth-child(6),
.weekday:nth-child(7) {
  color: #dc2626;
}

/* BUTTONS */
.buttonPrevious {}
.buttonNext {}

.buttonPrevious,
.buttonNext {
  background: none;
  border: none;
  cursor: pointer;
  width: 35px;
  height: 30px;
}

.buttonPrevious svg,
.buttonNext svg{
  fill: #B3B3B3;
  width: 100%;
  height: 100%;
}
