* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:active,
a {
  text-decoration: none;
	color: #161C24;
}

html, body {
	margin: 0;
}

main {
  width: 100%;
}

body {
  background-color: #EDEFF6;
}

.container {
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
	padding: 0 15px;
}
