@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto-regular") format("woff2"),
  url("/fonts/roboto-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto-medium.woff2") format("woff2"),
      url("/fonts/roboto-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto-bold.woff2") format("woff2"),
  url("/fonts/roboto-bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:active,
a {
  text-decoration: none;
	color: #161C24;
}

html, body {
	margin: 0;
}

main {
  width: 100%;
}

body {
  background-color: #EDEFF6;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
	padding: 0 15px;
}
