.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-top: 20px;
  border-radius: 8px;
}

.inputBox {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #cbced9;
  border-radius: 4px;
  padding: 0 30px;
  height: 46px;

  input {
    flex: 1;
    text-align: center;
    border: none;
    color: #1d2e5b;
    background: transparent;
    outline: none;

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 60px;
    letter-spacing: 0.05em;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .divider {
    position: relative;
    width: 1px;
    height: 100%;
    background: none; // основную линию убираем — теперь она рисуется через псевдоэлементы

      // Верхняя часть вертикальной линии
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 1px;
      height: 16px;
      background: #CBCED9;
    }
     // Нижняя часть вертикальной линии
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 1px;
      height: 16px;
      background: #CBCED9;
    }
     //горизонтальный разделитель
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 1px;
      background: #CBCED9;
      display: block;
    }
  }
}

.sliderBox {
  position: relative;
  width: 100%;
  height: 30px;
}

.track {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background: #a9c0da;
  border-radius: 2px;
}

.range {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  background: #1d2e5b;
  border-radius: 2px;
}

.thumb {
  position: absolute;
  width: 100%;
  height: 30px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    pointer-events: all;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #1d2e5b;
    cursor: pointer;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &::-webkit-slider-runnable-track {
    height: 4px;
    background: transparent;
  }

  &::-moz-range-thumb {
    pointer-events: all;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #1d2e5b;
    cursor: pointer;
  }

  &::-moz-range-track {
    background: transparent;
  }
}
