@use '../../../styles/func.scss' as func;

.card {
  display: flex;
  transition: all ease 0.25s;
  cursor: pointer;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  max-width: func.rem(950);
  max-height: func.rem(286);
  font-family: sans-serif;
  min-height: func.rem(285);
  height: 100%;
}

.card:hover {
  box-shadow: 0px 4px 20px 0px #00000040;
}

.levelCard {
  // bottom: func.rem(-0);
  // right: func.rem(0);
  // overflow: hidden;
  // position: absolute;
}

.photo {
  flex: 0 0 285px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: func.rem(40);
  padding-left: func.rem(60);
  gap: func.rem(20);
}

.infoHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: func.rem(12);
}

.nameBlock{
  display: flex;
  flex-direction: column;
  gap: func.rem(20);
}

.name {
  color: #1D2E5B;
  font-family: Roboto;
  font-weight: 700;
  font-size: func.rem(30);
  line-height: 30px;
  letter-spacing: 0%;
  position: relative;

    &::before {
      content: "";
      position: absolute;
      left: func.rem(-20);
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: transparent;
    }

    &.request_accepted::before {
      background-color: #81E31E;
    }

    &.request_declined::before {
      background-color: #F97676;
    }
  }



.tags {
  color: #000000;
  font-family: Roboto;
  font-weight: 400;
  font-size: func.rem(20);
  line-height: 23px;
  letter-spacing: 0%;
}

.countries {
  display: flex;
  flex-direction: column;
  gap: func.rem(13);

  .country {
    display: flex;
    align-items: center;
    gap: func.rem(18);

    color: #1D2E5B;
    font-family: Roboto;
    font-weight: 500;
    font-size: func.rem(20);
    line-height: 20px;
    letter-spacing: 0%;
    text-transform: uppercase;

    img {
      width: func.rem(35);
      height: func.rem(24);
      border-radius: func.rem(4);
      border: 1px solid #E1E3E9;
    }
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: func.rem(20);

  .callBtn {
    background: #A8D2F4;
    border-radius: func.rem(25);
    padding: func.rem(17) func.rem(26);
    border: none;

    color: #161C35;
    font-family: Roboto;
    font-weight: 700;
    font-size: func.rem(20);
    line-height: 20px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .heart {
    position: relative;
    border: none;
    background: none;
    cursor: auto;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #E2E5F2;
    transform: translate(-50%, -50%);
    z-index: 0;
  }

  svg, img {
    position: relative;
    z-index: 1;
  }
}

  .likes {
    color: #161C35;
    font-family: Roboto;
    font-weight: 700;
    font-size: func.rem(20);
    line-height: 20px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: func.rem(12);

  // .icons {
  //   font-size: 18px;
  //   display: flex;
  //   gap: 10px;
  // }

  .footerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .level {
    border: 2px solid #61aef7;
    border-radius: 50%;
    padding: 10px;
    font-weight: bold;
    color: #61aef7;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;

    span {
      font-size: 10px;
      font-weight: normal;
    }
  }
}
