@import '../../styles/func';
@import '../../styles/variables';
@import '../../styles/mixins';

.container {
  width: 100%;
  max-width: rem(1440);
  margin: 0 auto;
  font-family: $ff-roboto;

  // Десктоп
  padding-left: max(
    $tablet-padding,
    min(
      calc(50% - calc($vp-1440 - $desktop-padding * 2) / 2),
      $desktop-padding
    )
  );

  padding-right: max(
    $tablet-padding,
    min(
      calc(50% - calc($vp-1440 - $desktop-padding * 2) / 2),
      $desktop-padding
    )
  );

  // Планшетная версия
  @include tablet {
    padding-left: max(
      rem($mobile-padding),
      min(
        calc(50% - calc(#{rem($vp-1024)} - #{rem($tablet-padding * 2)}) / 2),
        rem($tablet-padding)
      )
    );

    padding-right: max(
      rem($mobile-padding),
      min(
        calc(50% - calc(#{rem($vp-1024)} - #{rem($tablet-padding * 2)}) / 2),
        rem($tablet-padding)
      )
    );
  }

  // Мобильная версия
  @include mobile-large {
    padding-left: rem($mobile-padding);
    padding-right: rem($mobile-padding);
  }

  @include mobile {
    padding-left: rem($mobile-padding-min);
    padding-right: rem($mobile-padding-min);
  }
}
