.wrapper {
  display: grid;
  grid-template-columns: 200px 180px 50px;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  width: 480px;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
  border: 1px solid #CBCED9;
  border-radius: 4px;
  width: 180px;
}

.wrapper span{
  color: #1D2E5B;
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.wrapper button{
  cursor: pointer;
  color: #CCCCCC;
  font-size: 30px;
  background-color: transparent;
  border: none;
}
