@use 'func';
@use 'variables';

@mixin font-face(
  $font-family: 'Roboto',
  $font-weight: 400,
  $font-style: normal,
  $font-path: '../app/fonts/',
  $font-filename: 'roboto'
) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: url('#{$font-path}/#{$font-filename}-#{$font-weight}.woff2') format('woff2'),
         url('#{$font-path}/#{$font-filename}-#{$font-weight}.woff') format('woff');
    font-display: swap;
  }
}

@mixin desktop {
  @media (max-width: variables.$desktop) {
    @content;
  }
}

@mixin desktop-small {
  @media (max-width: (variables.$desktop - 1px)) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: (variables.$tablet - 0.1px)) {
    @content;
  }
}

@mixin tablet-small {
  @media (max-width: (variables.$tablet-small - 0.1px)) {
    @content;
  }
}

@mixin mobile-large {
  @media (max-width: variables.$mobile-large) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: variables.$mobile) {
    @content;
  }
}

@mixin desktop-only {
  @media (min-width: variables.$tablet) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: variables.$retina-dpi), (min-resolution: variables.$retina-dppx) {
    @content;
  }
}

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}
