@use '../../../styles/variables.scss' as *;
@use '../../../styles/func' as func;

.contentBlock {
  margin-top: func.rem(69);
  margin-bottom: func.rem(50);

  .contentInner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: func.rem(20);
    position: relative;
  }

  .tagsHero {
    padding-left: func.rem(64);
  }

  .levelHero {
    top: func.rem(-220);
    right: func.rem(400);
    overflow: hidden;
    position: absolute;
  }

  .avatarHero {
    top: func.rem(-260);
    right: func.rem(138);
    position: absolute;
  }
}

@media (max-width: $tablet) {
  .contentBlock {
    .contentInner {
      flex-direction: column;
      align-items: flex-start;
    }

    .avatarWrapper {
      width: func.rem(80);
      height: func.rem(80);
      margin-top: func.rem(16);
    }

    .level {
      font-size: func.rem(14);
      margin-top: func.rem(8);
    }
  }
}
