@use '../../styles/variables' as *;

.contactIcons {
  display: flex;
  gap: 7px;
}

.iconLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--color-icon-bg-main);
  transition: $transition;

  &:hover {
    background: var(--color-btn-hover);
  }

  img {
    width: 20px;
    height: 20px;
  }
}
