@use '../../../styles/variables' as *;
@use '../../../styles/func' as func;

.levelCircle {
  position: relative;
  width: var(--size, 60px);
  height: var(--size, 60px);
  display: inline-block;

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .value {
      font-size: var(--value-font-size, func.rem(38));
      font-weight: bold;
      display: block;
      line-height: 1;
      color: var(--number-color, #000);
      position: relative;

     &::after {
    content: "";
    display: block;
    width: var(--divider-width, 54px);
    height: 2px;
    background-color: var(--divider-color, #000);
    opacity: 0.3;
    margin: var(--divider-margin, 4px auto);
    margin-top: var(--divider-margin-top, -4px);
    border-radius: 1px;
  }
    }

    .label {
      font-size: var(--label-font-size, func.rem(18));
      line-height: func.rem(18);
      text-transform: lowercase;
      color: var(--label-color, #000);
      display: block;
    }
  }
}
