.formWrapper {
  background-color: #AECFEB;
  padding: 55px 60px;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
}

.title {
  color: #1D2E5B;
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0%;
  margin-bottom: 54px;
}
