/* Контейнер (это та самая часть после border-top) */
.root {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 230px;
  gap: 28px;
  align-items: center;
}

.root::after {
  content: '';
  position: absolute;
  top: -30px; /* смещаем вверх */
  right: 230px;
  width: 1px;
  height: calc(100% + 30px); /* добавляем высоту */
  background-color: #D6D9E6;
}

/* Левая колонка — селекты */
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Одна строка селект + крестик */
.controlRow {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
}

/* Стили триггера Listbox (похожи на инпут в макете) */
.listboxWrap {
  position: relative;
  width: 100%;
  display: block;
}

.trigger {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 24px;
  border: 1px solid #CBCED9;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  color: #1D2E5B;

  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 10%;
  text-transform: uppercase;

}

.triggerActive {
  background-color: #1D2E5B;
  color: #fff;
}

.chev {
  margin-left: 12px;
  color: #6b7280;
  font-size: 12px;
}

/* Выпадающий блок */
.options {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  z-index: 50;
  display: flex;
  width: 100%;
  background: #fff;
  border: 1px solid #e6e9ee;
  border-radius: 6px;
  box-shadow: 0 6px 24px rgba(16,24,40,0.08);
  overflow: hidden;
}

/* Заголовок тёмно-синий */
.optionsHeader {
  position: absolute;
  top: -48px;
  left: 0;
  right: 0;
  height: 48px;
  background: #162445; /* тёмно-синий */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  font-weight: 700;
  font-size: 14px;
}

/* Заголовок внутри панели */
.headerTitle {
  padding-left: 12px;
}

/* Кнопка закрыть (просто декоративно) */
.headerClose {
  background: transparent;
  color: #fff;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 6px;
}

/* Тело панели: левая панель букв + правая список стран */
.optionsBody {
  display: grid;
  grid-template-columns: minmax(220px, 1fr) 240px;
  width: 100%;
  gap: 0;
}

/* Левое: буквы */
.letters {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-self: start;
  gap: 16px;
  padding: 32px 26px;
  background-color: #FFF;
}

/* Кнопки букв */
.letterBtn {
  border: 1px solid #CBCED9;
  border-radius: 4px;
  padding: 24px 22px;
  max-width: 60px;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  color: #1D2E5B;

  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

/* Активная буква */
.letterActive {
  background: #1D2E5B;
  color: #fff;
  border-color: transparent;
}

/* Право: список стран */
.countryList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  overflow-y: auto;
  padding: 35px 34px;
  border-left: 1px solid #D6D9E6;
}

/* Одна страна в списке */
.countryRow {
  cursor: pointer;
  color: #444444;

  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0%;
}

/* hover и active */
.countryActive {
  color: #1D2E5B;
}

/* выбранная опция */
.countrySelected {
  color: #0f172a;
  font-weight: 700;
}

/* Кнопка удаления справа от селекта (рядом с селектом) */
.removeBtn {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #e6e9ee;
  cursor: pointer;
  font-weight: 700;
}

/* Добавить страну */
.addRow {
  margin-top: 6px;
}
.addBtn {
  border: 1px dashed #dbe6f8;
  background: #fff;
  padding: 10px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
  color: #162445;
}

/* Правая колонка — timeline с флагами */
.right {
  height: 100%;
  width: 100%;
  gap: 15px;
  display: flex;
}
.timeline {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 18px;
  padding-left: 8px;
  position: relative;
  margin-top: 6px;
}


/* Одна строка timeline */
.timelineRow {
  height: 70px;
  display: flex;
  align-items: center;
  gap: 33px;
  position: relative;
  width: 100%;
  justify-content: space-between;
}

/* Точка на линии */
.dot {
  width: 13px;
  height: 13px;
  background: #FFFFFF;
  border-radius: 50%;
  border: 1px solid #CBCED9;
  z-index: 2;
  margin-left: -15px;
}

.activeDot {
  border-color: transparent;
  background-color: #1D2E5B;
}

/* Флаг */
.flag {
  width: 70px;
  height: 47px;
  border-radius: 6px;
  object-fit: cover;
}

/* Удаление над флагом */
.removeIcon {
  background: #fff;
  margin-left: auto;
  width: 24px;
  height: 22px;
  text-align: center;
  cursor: pointer;
  border: none !important;
}

/* Разблокируем скролл на странице при открытом Listbox */
html {
  overflow: visible !important;
  padding-right: 0 !important;
}
