.wrapper {
  display: flex;
  padding-top: 23px;
  flex-direction: column;
  gap: 16px;
}

.option {
  display: inline-flex;
  align-items: center;
  gap: 13px;
  cursor: pointer;
}

.hiddenCheckbox {
  display: none; // скрываем стандартный чекбокс
}

.customCheckbox {
  width: 24px;
  height: 24px;
  background: white;
  border: none;
  border-radius: 4px;
  position: relative;
  display: inline-block;
}

.customCheckbox::after {
  content: "";
  position: absolute;
  display: none;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 11px;
  border: solid #161C35;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.hiddenCheckbox:checked + .customCheckbox::after {
  display: block;
}

.checkboxText {
  color: #000000;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0%;
}
