.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  position: relative;
}

.emptyCountries {
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 10%;
  opacity: 0.5;
}

/* Убираем глобальную линию! */
/* .wrapper::before {
  content: '';
  position: absolute;
  top: 1rem;
  bottom: 6rem;
  right: 156px;
  width: 2px;
  background-color: #1a2440;
} */

.countryBlock {
  display: flex;
  flex-direction: column;
  gap: 37px;
  position: relative;
  padding-right: 3.5rem; /* отступ для линии и кружка */
}

/* Кружок */
.countryBlock::before {
  content: '';
  position: absolute;
  right: 151px;
  top: 1rem;
  width: 13px;
  height: 13px;
  background-color: #1D2E5B;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  z-index: 1;
}

/* Вертикальная линия к следующему кружку */
.countryBlock:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 156px;              /* совпадает по центру с кружком */
  top: calc(1rem + 13px);    /* сразу под кружком */
  bottom: -4rem;           /* тянем до следующего блока (gap: 2.5rem) */
  width: 2px;
  background-color: #1a2440;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h4 {
  color: #1D2E5B;
  font-family: Roboto;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0%;
}

.flag {
  width: 70px;
  height: 47px;
  object-fit: cover;
  border-radius: 4px;
  flex-shrink: 0;
}

.textarea {
  max-width: 700px;
  height: 140px;
  resize: none;
  padding: 26px 25px;
  border: 1px solid #CBCED9;
  border-radius: 4px;

  color: #444444;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0%;
}

.textarea::placeholder {
  opacity: 0.3;
}

.textarea:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2);
}
