@use '../../styles/variables.scss' as *;
@use '../../styles/func' as func;

.pageHero {
  .headerBlock {
    background-color: var(--color-bg-secondary);
    border-radius: 0 0 func.rem(60) func.rem(60);
    padding: func.rem(40) 0;
    padding-top: 74px;
    position: relative;
    text-align: left;

    .title {
      font-size: func.rem(60);
      line-height: func.rem(60);
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      margin: 0;
      margin-right: auto;
      max-width: 60%;
      margin-left: func.rem(64);
      color: var(--color-default-white);

      &::after {
        content: '';
        position: absolute;
        bottom: func.rem(-44);
        left: 0;
        height: func.rem(8);
        width: calc(100% - 20px);
        background: var(--color-btn-hover);
        border-radius: func.rem(4);
      }
    }
  }
}
